*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background: url("") no-repeat center;
    height: 120vh;
    background-size: cover;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.apresentacao{
    width: 100%;
	float: left;	
    text-align: center;
    margin-top: 18%;
    margin-bottom: 15%;
    flex-direction: column;
}



.tel{
    margin-top: 5%;
}


section{
    margin: 3em;
    padding: 3%;
    text-align: center;
}

h1{
    font-size: 55px;
   
}


p{
    margin-top: 5%;   
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
    padding-left: 5%;
    padding-right: 5%;    
}


h3{
    font-size: 70px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}


a{
    position: relative;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}



li{
    width: 10em;
}

.cont a{
    color: black;
}



.menu{
    background-color: rgba(0, 0, 0, 0.3);
    
}


.menu li a:hover{
    border: 0.1px solid #e3e9e9;
    color: snow;
}


.rodape{
    width: 100%;
	float: left;
	padding: 2% 4%;
	text-align: center;
	background-color: #212121;
}


.share{
    margin: auto;
    padding: 5%;
}

.share a{
    width: 50px;
    margin: 10px 25px;
    padding: 10px;
    padding: 0;
    justify-content: space-around;
    display: inline-block;
}



.copy{
    margin-top: 2%;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
}



#Contato {
    background-color: #EEE9E9;
}


.share img{
filter: grayscale(100%);

}


.share img:hover{
filter:grayscale(0%);
transition: 0.5s;

}


@media all and (min-width: 960px){
    nav{
        display: flex;
        justify-content: space-around;
        padding: 2em;
        position: fixed;
        width: 100%;
    }
}



@media all and (max-width: 800px) {
    ul {
      flex-grow: 1;
      justify-content: space-around;
    }

    .apresentacao{
        width: 100%;
        float: left;	
        text-align: center;
        margin-top: 18%;
        margin-bottom: 15%;
        flex-direction: column;
    }
    
    
    section{
        margin: 1.5em;
        padding: 3%;
        text-align: center;
    }
    
    h1{
        font-size: 55px;
        justify-content: space-around;
    }
    
    
    
    h3{
        font-size: 70px;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        justify-content: space-around;
        margin: auto;
    }
    
    
    a{
        position: relative;
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
    }
  }


  @media all and (max-width: 600px) {

    ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }
   
    .apresentacao{
        width: 100%;
        float: left;	
        text-align: center;
        margin-top: 18%;
        margin-bottom: 15%;
        flex-direction: column;
    }
    
    
    section{
        margin: 1.5em;
        padding: 3%;
        text-align: center;
    }
    
    h1{
        font-size: 55px;
    }
    
    
        
    
    h3{
        font-size: 70px;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
    }
    
    
    a{
        position: relative;
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
    }
  }
